<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Authentication" verbose="1">
    <test name="Smoke Test">
        <classes>
            <class name="testCases.authTestCases.RegisterTest">
                <methods>
                    <include name="registerNewUserTC"/>
                    <exclude name="registerDuplicateUserTC"/>
                </methods>
            </class>
            <class name="testCases.authTestCases.LoginTest">
                <methods>
                    <exclude name="validLoginTC"/>
                    <include name="invalidLoginTC"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
